##
## GUS Configuration
##
##
## @version $Revision$ $Date$
##

### GUS End User Configurtion
###


####### gus.properties

# RDBMS Connection Strings
## dbVendor is the RDBMS Vendor.  Postgres or Oracle
## dbiDsn is for Perl ( i.e. dbi:Oracle:NAME_OF_DATABASE )
## jdbcDsn is for JDBC/Java ( i.e. jdbc:oracle:thin:@HOSTNAME:PORT:NAME_OF_DATABASE )

dbVendor=
dbiDsn=
jdbcDsn=

# Login and Password to the RDBMS

databaseLogin=
databasePassword=

# Username, group, and project info from the relevant Core tables

userName=
group=
project=

tablespace=GUS

# Path to Perl Executable
perl=/usr/bin/perl

####### GUS-PluginMgr.prop

# Path to MD5 Executable
md5sum=/usr/bin/md5sum

################################################################################
###   Warning:  Do not change items below here unless you know what you're doing
################################################################################

gusSchemas=Core,RAD,DoTS,SRes,TESS,prot,study
coreSchemaName=CORE

sequenceStart=1

### Common delimited list of housekeeping columns.  In order as they should appear in the tables
housekeepingColumns=MODIFICATION_DATE,USER_READ,USER_WRITE,GROUP_READ,GROUP_WRITE,OTHER_READ,OTHER_WRITE,ROW_USER_ID,ROW_GROUP_ID,ROW_PROJECT_ID,ROW_ALG_INVOCATION_ID
housekeepingColumnsVer=MODIFICATION_DATE,USER_READ,USER_WRITE,GROUP_READ,GROUP_WRITE,OTHER_READ,OTHER_WRITE,ROW_USER_ID,ROW_GROUP_ID,ROW_PROJECT_ID,ROW_ALG_INVOCATION_ID,VERSION_ALG_INVOCATION_ID,VERSION_DATE,VERSION_TRANSACTION_ID

### type,length,precision,nullable

hkspec.MODIFICATION_DATE=Date,0,0,false
hkspec.USER_READ=Number,1,0,false
hkspec.USER_WRITE=Number,1,0,false
hkspec.GROUP_READ=Number,1,0,false
hkspec.GROUP_WRITE=Number,1,0,false
hkspec.OTHER_READ=Number,1,0,false
hkspec.OTHER_WRITE=Number,1,0,false
hkspec.ROW_USER_ID=Number,12,0,false
hkspec.ROW_GROUP_ID=Number,4,0,false
hkspec.ROW_PROJECT_ID=Number,4,0,false
hkspec.ROW_ALG_INVOCATION_ID=Number,12,0,false

hkspec.VERSION_ALG_INVOCATION_ID=Number,12,0,true
hkspec.VERSION_DATE=Date,0,0,true
hkspec.VERSION_TRANSACTION_ID=Number,12,0,true