databaseLogin=GUSrw
databasePassword=YOUR_PASSWORD
readOnlyDatabaseLogin=GUSdevReadOnly
readOnlyDatabasePassword=YOUR_PASSWORD
coreSchemaName=Core
userName=$ENV{USER}
group=CBIL
project=GUS
dbiDsn=dbi:Oracle:host=erebus.pcbi.upenn.edu;sid=gusdev

