databaseLogin=GUSrw
databasePassword=*******
readOnlyDatabaseLogin=GUSdevReadOnly
readOnlyDatabasePassword=********
coreSchemaName=Core
userName=$ENV{USER}
group=CBIL
project=GUS
dbiDsn=dbi:Oracle:host=erebus.pcbi.upenn.edu;sid=gusdev

