databaseLogin=GUSrw
databasePassword=myvs3131
readOnlyDatabaseLogin=GUSdevReadOnly
readOnlyDatabasePassword=s7fp4erv
coreSchemaName=Core
userName=$USER
group=CBIL
project=GUS
dbiDsn=dbi:Oracle:host=erebus.pcbi.upenn.edu;sid=gusdev

