# Property file for webinstall of WDK site

webappTargetDir=<siteDir>/webapp
htdocsTargetDir=<siteDir>/html
cgibinTargetDir=<siteDir>/cgi-bin
cgilibTargetDir=<siteDir>/cgi-lib
confTargetDir=<siteDir>/conf
rProgram=/usr/bin/R
