# Property file for webinstall of WDK site
# Contains set of locations outside gus_home where build artifacts are deployed

webappTargetDir=<siteDir>/webapp
htdocsTargetDir=<siteDir>/html
cgibinTargetDir=<siteDir>/cgi-bin
cgilibTargetDir=<siteDir>/cgi-lib
confTargetDir=<siteDir>/conf
